
@{
    ViewBag.Title = "GetContact";
}

<h2>GetContact</h2>

<style>
    .search
    {
        border-radius:1px;
    }
</style>

<div class="search">
  Search Contact Name : <input type="text" id="fname" name="fname" />
</div>

<div ng-app="MyApp">

    <div ng-controller="GetContactController">
        <table>
            <tr>
                <td>Contact ID:</td>
                <td ng-bind="Contact.ContactID"></td>
            </tr>

            <tr>
                <td>First Name:</td>
                <td ng-bind="Contact.FirstName"></td>
            </tr>

            <tr>
                <td>Last Name:</td>
                <td ng-bind="Contact.LastName"></td>
            </tr>

            <tr>
                <td>ContactNo1:</td>
                <td ng-bind="Contact.ContactNo1"></td>
            </tr>

            <tr>
                <td>ContactNo2:</td>
                <td ng-bind="Contact.ContactNo2"></td>
            </tr>

            <tr>
                <td>Email:</td>
                <td ng-bind="Contact.EmailID"></td>
            </tr>

            <tr>
                <td>Address:</td>
                <td ng-bind="Contact.Address"></td>
            </tr>



        </table>
    </div>

</div>


@section scripts
        {
    <script src="~/Scripts/AngularController/GetContactController.js"></script>
}

